#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-areas:
    'a b b'
    'd d f'
    'c e e';
}

#container > div {
  background-color: red;
  display: flex;
  padding: 20px;
  border: 1px solid black;
  justify-content: center;
}
.class1 {
  grid-area: a;
}
.class2 {
  grid-area: b;
}
.class3 {
  grid-area: c;
}
.class4 {
  grid-area: d;
}
.class5 {
  grid-area: e;
}
.class6 {
  grid-area: f;
}
